.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo-container {
  margin: 20px;
  @media screen and (max-width: 360px) {
    margin: 8px;
  }
}

.about {
  background: rgba(24, 16, 1, 0.418);
  border-radius: 10px;
  margin-top: 9rem;
  .logo {
    @media screen and (max-width: 700px) {
      height: 30px;
      width: 25px;
    }
  }
  p {
    @media screen and (max-width: 750px) {
      font-size: 14px;
    }
  }
}
