$image-height: 300px;

.card {
  display: flex;
  margin: 10px;
  position: relative;
  height: $image-height;
  transition-duration: 500ms;
  left: -10%;
}
.image-container {
  min-width: 580px;
  background-color: rgb(41, 37, 37);
  display: flex;
  justify-content: center;
  z-index: 5;
  img {
    height: $image-height;
    position: absolute;
  }
}

a img {
  height: 38px;
  padding: 5px 10px;
}

.description {
  background-color: rgb(10, 79, 110);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: -3%;
  top: 2%;

  width: 580px;
  height: $image-height;
  transition: 1s ease-in-out 0.3s;
  .description-inner {
    width: 280px;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-right: 10px;
    p {
      font-size: 0.8rem;
      line-height: 1.5rem;
      i {
        color: goldenrod;
      }
    }
  }
}
.slide-right {
  right: -50%;
}
