.link {
  height: 3rem;
  margin: 1em;
  @media (max-width: 600px) {
    height: 1.5rem;
  }
}
.card {
  background-color: transparent !important;
  border: none;
  font-size: 0.8rem;
  h5 {
    color: rgb(32, 29, 29);
    padding-top: 4px;
  }
}

.flip-card {
  width: 476 * 1.2px;
  height: 243 * 1.2px;
  perspective: 1000px;
  @media (max-width: 600px) {
    width: 320px;
    height: 180px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  p {
    padding: 4px;
    margin: 5px;
    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
}

.projectImg {
  height: 100%;
  width: 100%;
}

.back {
  background-color: rgb(255, 247, 223);
  border-radius: 3px;
  color: rgb(80, 80, 80);
  transform: rotateY(180deg);
}
.front {
  background-color: rgb(44, 43, 43) !important;
  border: ridge rgb(160, 168, 197) 4px;
}

.flip-card {
  border: none;
  margin: 10px;
}
.block {
  margin: 0;
  padding: 0;
}
