nav {
  background-color: rgba(17, 18, 19, 0.733) !important;
  letter-spacing: 0.2em;
}

#greeting {
  background-color: rgba(17, 18, 19, 0.995);
}

.round-photo {
  border-radius: 100%;
  height: 24rem;
  border: grey 2px ridge;
}

@media screen and (max-width: 500px) {
  .round-photo {
    height: 12rem;
    background-color: white;
  }
}

.round-photo1 {
  border-radius: 100%;
  height: 12rem;
  border: grey 2px ridge;
}

@media only screen and (max-width: 1235px) {
  .round-photo1 {
    display: none;
  }
}

.round-photo2 {
  border-radius: 100%;
  height: 4rem;
  border: grey 2px ridge;
}

@media only screen and (max-width: 1235px) {
  .round-photo2 {
    display: none;
  }
}

.greeting-text {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  margin: auto;
}

@media (max-width: 750px) {
  .greeting-text {
    width: 250px;
  }
}

@media (max-width: 750px) {
  .greeting-text p {
    font-size: 12px !important;
  }
}

.greeting-title {
  font-size: 28px;
  margin-top: 5.5rem;
}

.projects-box {
  margin: 15vh auto 15vh auto;
}

.projects {
  margin-top: 1em;
}

@media (max-width: 660px) {
  .projects-box {
    margin-top: 25vh;
  }
}

.link {
  height: 3rem;
  margin: 1em;
}

@media (max-width: 600px) {
  .link {
    height: 1.5rem;
  }
}

.card {
  background-color: transparent !important;
  border: none;
  font-size: 0.8rem;
}

.card h5 {
  color: #201d1d;
  padding-top: 4px;
  font-weight: bold;
}

i {
  color: #201d1d;
  font-size: 16px;
}

.flip-card {
  width: 571.2px;
  height: 291.6px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 600px) {
  .flip-card {
    width: 320px;
    height: 180px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front p,
.back p {
  padding: 4px;
  margin: 5px;
}

@media (max-width: 600px) {
  .front p,
  .back p {
    font-size: 12px;
  }
}

.projectImg {
  height: 100%;
  width: 100%;
}

.back {
  background-color: #fff7df;
  border-radius: 3px;
  color: #505050;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front {
  background-color: #2c2b2b !important;
  border: ridge #a0a8c5 4px;
}

.flip-card {
  border: none;
  margin: 10px;
}

.block {
  margin: 0;
  padding: 0;
}

.logo-container {
  margin: 40px;
}

@media screen and (max-width: 360px) {
  .logo-container {
    margin: 8px;
  }
}

.about {
  background: rgba(24, 16, 1, 0.418);
  border-radius: 10px;
  margin-top: 9rem;
}

@media screen and (max-width: 700px) {
  .about .logo {
    height: 30px;
    width: 25px;
  }
}

@media screen and (max-width: 750px) {
  .about p {
    font-size: 14px;
  }
}

* {
  font-family: "Inria Serif", serif !important;
  color: #d9dce6;
}

* ::-moz-selection {
  color: #227185;
  background: white;
}

* ::selection {
  color: #227185;
  background: white;
}

* p {
  font-size: 1.2rem;
}

.logo {
  height: 50px;
  width: 40px;
  -webkit-filter: drop-shadow(2px 4px 2px #0008);
          filter: drop-shadow(2px 4px 2px #0008);
}

.zmagis:hover {
  -webkit-filter: drop-shadow(2px 4px 2px rgba(201, 190, 190, 0.533));
          filter: drop-shadow(2px 4px 2px rgba(201, 190, 190, 0.533));
}

.screen {
  height: 100vh;
  overflow-y: hidden;
}

#contact {
  background-image: url("../Images/stars-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.2em;
}

#contact .contact {
  background-color: rgba(17, 34, 65, 0.76);
  width: 50%;
}

@media screen and (max-width: 600px) {
  #contact .contact {
    width: 95%;
  }
}

#projects {
  background-image: url("../Images/birds-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#projects h2 {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.918));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.918));
  font-size: 2.8rem;
}

#projects h4,
#projects p {
  color: #363535;
}

#about {
  background-image: url("../Images/mountain-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=styles.css.map */